<html>
    <head>
        <title>Dashboard</title>
        <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    </head>
    <body>
        <h2>Dashboard</h2>
        
        <% @data.each do |event| %>
            <%=event['type'] %>
            <br/>
        <% end %>
    </body>
</html>

